.Header h1{
    color: #ec8c69;
    margin: 0;  
    font-size: 25px;
    display: inline-block;
    white-space: nowrap; 
}

.Header{
    background-color: #ffe4da;
    text-decoration: none;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    position: absolute;
    z-index: 1;
    width: 100%;
}

.Header .button button{
margin-left: 7px;
}

.logout-container {
  position: absolute;
  top: 12px;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 9999;
}

.logout-button {
  border-radius: 20px;
  border: 1px solid transparent;
  padding: 10px 15px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ec8c69;
  cursor: pointer;
  transition: border-color 0.25s;
}

.logout-button:hover {
  background-color: #f17a4e; 
  transform: scale(1);
  box-shadow: 0 4px 10px rgba(248, 89, 16, 0.5);
}

.logout-button:active {
  transform: scale(0.95);
}

.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  color: orange;
}

.welcome-text {
  font-size: 16px;
  color: #ec8c69;
  font-weight: 600;
  padding: 8px 14px;
  background-color: transparent;
  border-radius: 6px;
  cursor: default;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdown:hover .welcome-text {
  background-color: #ec8c6942;
}

.dropdown.open .dropdown-content {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
  pointer-events: auto;
}

.dropdown-content {
  position: absolute;
  margin-top: 5px;
  background-color: #ec8c6956;
  border: 1px solid #ddd;
  padding: 8px 12px;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
  right: 0;
}

.dropdown-content button {
  background-color: #ec8c69;
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.dropdown-content button:hover {
  background-color: #e26538;
}

